.fave-attractions-container {
   /* border: 3px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.fave-attractions-banner {
   margin: 20px;
   width: 70%;
}

/* #1fbfb8, #05716c, #1978a5, #031163 */

.fave-attractions-banner > h1 {
   padding: 2px;
   font-size: 30px;
   /* text-shadow: 2px 2px 2px gray; */
   color: #05716c;
   font-weight: bold;
   font-family: 'Pacifico', cursive;
}